@font-face {
  src: url(./616fd1dd00cf6c70f978fc69_Canopee.ttf);
  font-family: canopee;
}

@font-face {
  src: url(./5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf);
  font-family: domaine;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  background-color: #1c1b19;
  overflow-x: hidden;
}
#page1 {
  height: 128vh;
  width: 100vw;
  background-color: #c6beb4;
  position: relative;
  overflow: hidden;
}
#nav {
  height: 80px;
  width: 100%;
  background-color: #c6beb4;
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #838181;
}
#nav img {
  height: 25px;
  width: 30%;
}
#nav h5 {
  font-size: 18px;
  font-weight: 200;
  width: 30%;
}

#nav i {
  width: 30%;
  text-align: right;
}

#elems {
  height: 410px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
}
#elem1 {
  width: 30%;
  height: 100%;
}
#elem2 {
  width: 28%;
  height: 100%;
  border-right: 1px solid #838181;
  padding: 20px 60px;
  text-align: center;
  border-left: 1px solid #838181;
}
#elem3 {
  width: 30%;
  height: 100%;
}
#elem1 #image-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
  border: 1px solid black;
}
#image-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
}

#elem3 #image-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
  border: 1px solid black;
}
#image-div img:hover {
  scale: 1.1;
}
#elem1 h4 {
  font-size: 25px;
  margin-top: 10px;
  font-family: canopee;
}
#elem1 p {
  font-size: 20px;
  font-family: domaine;
  color: #605c5c;
  margin-top: 10px;

  font-weight: 540;
  line-height: normal;
}
#elem1 h4 span {
  background-color: #b83c12;
  color: #c6beb4;
  margin-left: 5px;
  padding: 2px 3px;
  font-weight: 100;
  font-size: 18px;
  border-radius: 5px;
}
#elem3 h4 {
  font-size: 25px;
  margin-top: 10px;
  font-family: canopee;
}
#elem3 p {
  font-size: 20px;
  font-family: domaine;
  color: #605c5c;
  margin-top: 10px;

  font-weight: 540;
  line-height: normal;
}
#elem3 h4 span {
  background-color: #b83c12;
  color: #c6beb4;
  margin-left: 5px;
  padding: 2px 3px;
  font-weight: 100;
  font-size: 18px;
  border-radius: 5px;
}
#elem2 h2 {
  font-family: canopee;
  font-size: 60px;
  font-weight: 700;
  margin: 20px 15px;
}
#elem2 h3 {
  font-family: domaine;
  font-size: 35px;
  font-weight: 100;
  color: #2f2f2f;
}
#elem2 h6 {
  font-family: domaine;
  font-size: 20px;
  font-weight: 100;
  color: #2f2f2f;
  margin-top: 10px;
}
#page1 h1 {
  font-size: 550px;
  letter-spacing: -25px;
  text-align: center;
  font-weight: 300;
  font-family: canopee;
  background-color: #1c1b19;
  color: #c3bbb2;
  line-height: 450px;
  width: 96%;
  margin-left: 2%;
}
#page2 {
  height: 180vh;
  width: 100%;
  background-color: #c6beb4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
}
#page2-left {
  height: 100%;
  width: 40%;
  padding-right: 50px;
  border-right: 1px solid #222;
}
#page2-left h2 {
  font-size: 125px;
  font-family: canopee;
  text-transform: uppercase;
  line-height: 140px;
  font-weight: 100;
  letter-spacing: -7px;
}
#page2-left h2 span {
  font-size: 210px;
  font-weight: 550;
}
#page2-left img {
  height: 45%;
  width: 100%;
  object-fit: cover;
}
#page2-left p {
  font-size: 32px;
  font-family: domaine;
  color: #2f2f2f;
  margin-top: 20px;
}
.dropcap {
  float: left;
  font-size: 70px;
  line-height: 0.8;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #1b1b1b;
  color: #c6beb4;
  font-family: canopee;
  border-radius: 2px;
}
#page2-right {
  height: 100%;
  width: 60%;
  padding: 0px 50px;
}
#page2-right img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border: 1px solid black;
}
#page2-right h1 {
  font-family: canopee;
  font-size: 115px;
  letter-spacing: -7px;
  font-weight: 500;
  margin-top: 30px;
  padding: 15px 0px;
}
#page3 {
  position: relative;
  background-color: #c6beb4;
  padding-bottom: 50px;
}
#page3 h1 {
  font-size: 450px;
  font-weight: 100;
  font-family: canopee;
  letter-spacing: -20px;
  background-color: #1c1b19;
  color: #c3bbb2;
  width: fit-content;
  margin-left: 2%;
  padding: 0 25px;
  line-height: 380px;
}
#page3 img {
  height: 400px;
  position: absolute;
  top: 0;
  right: 2%;
}
#page4 {
  height: 100%;
  width: 100%;
  background-color: #C2BAB0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#page4-left {
  width: 65%;
  height: 100%;

  border-right: 1px solid black;
}
#page4-left #yoyo {
  height: 100%;
  width: 100%;
  padding: 10px 40px;
  object-fit: cover;
}

#pageelem {
  padding: 10px 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#pg-elem1 {
  width: 40%;
  height: auto;
}
#pg-elem1 h2 {
  font-size: 60px;
  font-family: domaine;
  letter-spacing: -2px;
  font-weight: 600;
}
#pg-elem1 h3 {
  font-family: domaine;
  font-size: 35px;
  font-weight: 100;
  color: #2f2f2f;
}
#pg-elem1 h6 {
  font-family: domaine;
  font-size: 20px;
  font-weight: 100;
  color: #2f2f2f;
  margin-top: 10px;
}

#pg-elem2 {
  width: 50%;
  height: auto;
  padding: 10px 30px;
  border-left: 1px solid black;
}
#pg-elem2 h3 {
  font-family: domaine;
  font-size: 25px;
  
  letter-spacing: -1px;
  padding: 2px 6px;
  color: #191717;
}
#pg-elem2 p {
  font-family: domaine;
  font-size: 20px;
  font-weight: 100;
  padding: 2px 6px;
  color: #504d4d;
}

#imgs {
  height: 60%;
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
}

#imgs img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
}

#imgs img:hover {
  scale: 1.1;
}

#page4-right {
  width: 35%;
  height: 100%;
  padding: 10px 30px;
}
#page4-right h1 {
  font-size: 115px;
  font-weight: 590;
  font-family: canopee;
  letter-spacing: -6px;
}
#page4-right h2 {
  font-size: 220px;
  font-weight: 590;
  letter-spacing: -8px;
  font-family: canopee;
  line-height: 0.7;
}

#page4-right p {
  font-size: 35px;
  font-family: domaine;
  font-weight: 100;
  color: #373636;
  padding: 20px 30px;
  margin-bottom: 10px;
  line-height: 40px;
}
#page4-right span {
  float: left;
  font-size: 70px;
  line-height: 0.8;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #1b1b1b;
  color: #c6beb4;
  font-family: canopee;
  border-radius: 2px;
}
#page4-right #sphere {
  height: 200px;
  width: 100%;
  background-color: #CBC2B7;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  
}
#sphere h1{
font-size: 80px;
font-weight: 100;
font-family: canopee;
width: 100%;
height: 100%;
}
#sphere img{
height: 60px;
}