 @font-face {
src:url(./616fd1dd00cf6c70f978fc69_Canopee.ttf);
font-family: canopee;
 }

  @font-face {
src:url(./5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf);
font-family: domaine;

 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    background-color: #1C1B19;
    overflow-x: hidden;
}
#page1{
    height: 128vh;
    width: 100vw;
    background-color: #C6BEB4;
    position: relative;
    overflow: hidden;
   
}
#nav{
    height: 80px;
    width: 100%;
    background-color: #C6BEB4;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #838181;
   
}
#nav img{
    height: 25px;
    width: 30%;
    
}
#nav h5{
    font-size: 18px;
    font-weight: 200;
    width: 30%;
}

#nav i{
    width: 30%;
    text-align: right;
}

#elems{
   
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}
#elem1{
    width: 30%;
    height: 100%;
    
    
}
#elem2{
    width: 28%;
    height: 100%;
     border-right: 1px solid #838181;
     padding: 20px 60px;
     text-align: center;
      border-left: 1px solid #838181;
   
}
#elem3{
    width: 30%;
    height: 100%;
    
}
#elem1 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
    border: 1px solid black;
    
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
   
}

#elem3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
     border: 1px solid black;
}
#image-div img:hover{
    scale: 1.1;
}
#elem1 h4{
    font-size: 23 px;
    margin-top: 10px;
    font-family:canopee ;
    
}
#elem1 p{
    font-size: 16px;
    font-family: domaine;
    color: #605c5c;
    margin-top: 10px;
    
    font-weight: 540;
    line-height: normal;
}
#elem1 h4 span{
    background-color:#B83C12;
    color: #C6BEB4;
    margin-left: 5px;
    padding: 2px 3px;
    font-weight: 100;
    font-size: 18px;
    border-radius: 5px;
}
#elem3 h4{
    font-size: 23 px;
    margin-top: 10px;
    font-family:canopee ;
    
}
#elem3 p{
    font-size: 16px;
    font-family: domaine;
    color: #605c5c;
    margin-top: 10px;
    
    font-weight: 540;
    line-height: normal;
}
#elem3 h4 span{
    background-color:#B83C12;
    color: #C6BEB4;
    margin-left: 5px;
    padding: 2px 3px;
    font-weight: 100;
    font-size: 18px;
    border-radius: 5px;
}
#elem2 h2{
    font-family:canopee ;
    font-size: 60px;
    font-weight: 700;
    margin: 20px 15px;
    
}
#elem2 h3{
    font-family:domaine;
    font-size: 35px;
     font-weight: 100;
     color: #2f2f2f;
    
}
#elem2 h6{
    font-family:domaine;
    font-size: 20px;
     font-weight: 100;
     color: #2f2f2f;
     margin-top: 10px;
    
}
#page1 h1{
font-size: 550px;
letter-spacing: -25px;
text-align: center;
font-weight: 300;
font-family: canopee;
background-color: #1C1B19;
color:#C3BBB2 ;
line-height: 450px;
width: 96%;
margin-left: 2%;
}
#page2{
    height: 180vh;
    width: 100%;
    background-color:#C6BEB4 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
   
}
#page2-left{
height: 100%;
width: 40%;
padding-right: 50px;
 border-right: 1px solid #222;
}
#page2-left h2{
    font-size: 125px;
    font-family: canopee;
    text-transform: uppercase;
    line-height: 140px;
    font-weight: 100;
    letter-spacing: -7px
}
#page2-left h2 span{
    font-size:210px;
    font-weight: 550;
}
#page2-left img{
    height: 45%;
    width: 100%;
    object-fit: cover;
}
#page2-left p{
    font-size: 32px;
    font-family: domaine;
    color:#2f2f2f;
    margin-top: 20px;
}
.dropcap {
  float: left;
  font-size: 70px;
  line-height: 0.8;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #1b1b1b;
  color: #f2f2f2;   
  font-family:canopee;
  border-radius: 2px;
}
#page2-right{
    height: 100%;
    width: 60%;
    padding: 0px 50px;
}
#page2-right img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border: 1px solid black;
}
#page2-right h1{
    font-family: canopee;
    font-size: 100px;
    letter-spacing: -1px;
    font-weight: 600;
}